@{
    ViewData["Title"] = "О приложении";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Необходимо разработать Web-приложение для учета товара на складе.

    Перечень обязательных страниц:
    • Главная страница
    • О приложении (разместить настоящее техническое задание)
    • Контакты (указать ФИО, фотографию и контакты разработчика: номер мобильного телефона, адрес электронной почты, Viber, Telegram).
    • Страница со списком товаров
    • Страница для редактирования списка товаров
    • Страница со списком складов и возможностью редактирования информации о выбранном складе.

    Требования к функционалу страниц:
    • На странице, содержащей контактные данные разработчика, при щелчке на фотографию должно открываться всплывающее окно с фотографией (более крупного размера) и ФИО разработчика.
    • На страницах, содержащих информацию о разработчике и приложении, реализовать возможность печати блока базовой информации.

    Требования к структуре базы данных:
    • Создать хранимую процедуру для поиска товаров по наименованию.

    Среда разработки: Microsoft Visual Studio
    Требование к платформе приложения: .Net Core v2.1 - .NetCore v3.0
    Требование к базе данных: Microsoft SQL
</p>
